﻿@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
:after, :before {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto', sans-serif;
}
img, video {
    max-width: 100%;
    height: auto;
}
/*
KUTU (caja en Turco).
Versión -> 0.0.1
Autor: dekmask
*/
/*==========
contenedor
==========*/
.contenedor {
    max-width: 1300px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}
.contenedor-fluido {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}
/*==========
elemento
==========*/
.elemento {
    padding: 0 5px;
    width: 100%;
    margin: 0;
}
/*==========
input
==========*/
input {
    font-family: 'Roboto', sans-serif;
    padding: 16px 5px 8px 5px;
    width: 100%;
    margin: 5px 0;
    position: relative;
    background: none;
    border: none;
    border-bottom: 3px solid #c6c6c6;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
input.error {
    color: #b71c1c;
    border-bottom: 3px solid #ef9a9a;
}
input.advertencia {
    color: #FF8F00;
    border-bottom: 3px solid #FFE082;
}
input.correcto {
    color: #2E7D32;
    border-bottom: 3px solid #A5D6A7;
}
input.primario {
    color: #2196F3;
    border-bottom: 3px solid #90CAF9;
}
input.secundario {
    color: #3F51B5;
    border-bottom: 3px solid #9FA8DA;
}
input:focus {
    border-bottom: 3px solid #000;
    outline: none;
}
input.error:focus {
    border-bottom: 3px solid #b71c1c;
    outline: none;
}
input.advertencia:focus {
    border-bottom: 3px solid #FF8F00;
    outline: none;
}
input.correcto:focus {
    border-bottom: 3px solid #2E7D32;
    outline: none;
}
input.primario:focus {
    border-bottom: 3px solid #2196F3;
    outline: none;
}
input.secundario:focus {
    border-bottom: 3px solid #3F51B5;
    outline: none;
}
input:disabled {
    border-bottom: 3px solid #999;
    background: #f6f6f6;
    cursor: no-drop;
}
/*==========
boton
==========*/
button {
    position: relative;
    overflow: hidden;
    border: none;
    font-family: 'Roboto', sans-serif;
    background: #FFF;
    color: #212121;
    cursor: default;
    font-size: 14px;
    padding: 9px 16px;
    border-radius:2px;
    margin: 8px 0;
    box-shadow:0 1px 4px rgba(0, 0, 0, .6);
}
button.error {
    background: #b71c1c;
    color: #FFF;
}
button.advertencia {
    background: #FF8F00;
    color: #FFF;
}
button.correcto {
    background: #2E7D32;
    color: #FFF;
}
button.primario {
    background: #2196F3;
    color: #FFF;
}
button.secundario {
    background: #3F51B5;
    color: #FFF;
}
button.invertido {
    background: #212121;
    color: #FFF;
}
button:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 0;
    padding-top: 0;
    border-radius: 100%;
    background-color: rgba(236, 240, 241, .3);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
button:enabled:active:before {
    width: 120%;
    padding-top: 120%;
    transition: width .2s ease-out, padding-top .2s ease-out;
}
button:enabled:hover {
    box-shadow: 0 4px 7px rgba(0,0,0,.4);
}
button:focus {
    outline: none;
}
button:disabled {
    background: transparent;
    color: #c6c6c6;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0);
    cursor: no-drop;
}
/*==========
boton-flotante
==========*/
.boton-flotante {
    display: inline-flex;
    width: 50px;
    height: 50px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: #FFF;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: lighter;
    cursor: pointer;
    box-shadow:0 1px 4px rgba(0, 0, 0, .6);
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.boton-flotante.derecha-abajo {
    position: fixed;
    right: 40px;
    bottom: 40px;
}
.boton-flotante.derecha-arriba {
    position: fixed;
    right: 40px;
    top: 40px;
}
.boton-flotante.izquierda-abajo {
    position: fixed;
    left: 40px;
    bottom: 40px;
}
.boton-flotante.izquierda-arriba {
    position: fixed;
    left: 40px;
    top: 40px;
}
.boton-flotante.error {
    background: #b71c1c;
    color: #fff;
}
.boton-flotante.advertencia {
    background: #FF8F00;
    color: #fff;
}
.boton-flotante.correcto {
    background: #2E7D32;
    color: #fff;
}
.boton-flotante.primario {
    background: #2196F3;
    color: #fff;
}
.boton-flotante.secundario {
    background: #3F51B5;
    color: #fff;
}
.boton-flotante.invertido{
    background: #212121;
    color: #fff;
}
.boton-flotante:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 0;
    padding-top: 0;
    border-radius: 100%;
    background-color: rgba(236, 240, 241, .3);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.boton-flotante:active:before {
    width: 120%;
    padding-top: 120%;
    transition: width .2s ease-out, padding-top .2s ease-out;
}
.boton-flotante:hover {
    box-shadow: 2px 6px 9px rgba(0,0,0,.4);
}
/*==========
Alertas
==========*/
.alerta {
    margin: 5px auto;
    width: 100%;
    font-weight: lighter;
    background: rgba(33,33,33,0.80);
    border: 2px solid rgba(0,0,0,0.5);
    padding: 10px;
    border-radius: 5px;
    color: #FFF;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}
.alerta.error {
    color: #FFF;
    background: rgba(183,28,28,0.80);
    border: 2px solid #b71c1c;
}
.alerta.advertencia {
    color: #fff;
    background: rgba(255,143,0,0.80);
    border: 2px solid #FF8F00;
}
.alerta.correcto {
    color: #fff;
    background: rgba(46,125,50,0.80);
    border: 2px solid #2E7D32;
}
.alerta.primario {
    color: #fff;
    background: rgba(33,150,243,0.80);
    border: 2px solid #2196F3;
}
.alerta.secundario {
    color: #fff;
    background: rgba(63,81,181,0.80);
    border: 2px solid #3F51B5;
}
/*==========
Input
==========*/
input[type="checkbox"], input[type="radio"] {
    display: none;
}
.checkbox, .radio {
    display: inline-block;
    cursor: pointer;
    font-family: 'Roboto';
    color: #212121;
    position: relative;
    padding: 5px 15px 5px 51px;
    font-size: 1em;
    border-radius: 5px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.checkbox.error, .radio.error {
    color: #b71c1c;
}
.checkbox.advertencia, .radio.advertencia {
    color: #FF8F00;
}
.checkbox.correcto, .radio.correcto {
    color: #2E7D32;
}
.checkbox.primario, .radio.primario {
    color: #2196F3;
}
.checkbox.secundario, .radio.secundario {
    color: #3F51B5;
}
.checkbox:hover, .radio:hover {
    background: #c6c6c6;
}
.checkbox.error:hover, .radio.error:hover {
    background: #ef9a9a;
}
.checkbox.advertencia:hover, .radio.advertencia:hover {
    background: #FFE082;
}
.checkbox.correcto:hover, .radio.correcto:hover {
    background: #A5D6A7;
}
.checkbox.primario:hover, .radio.primario:hover {
    background: #90CAF9;
}
.checkbox.secundario:hover, .radio.secundario:hover {
    background: #9FA8DA;
}
.checkbox:before, .radio:before {
    content: "";
    display: inline-block;
    width: 17px;
    height: 17px;
    position: absolute;
    left: 15px;
    border-radius: 2px;
    background: none;
    border: 3px solid #212121;
}
.radio:before {
    border-radius: 50%;
}
.checkbox.error:before, .radio.error:before {
    border: 3px solid #b71c1c;
}
.checkbox.advertencia:before, .radio.advertencia:before {
    border: 3px solid #FF8F00;
}
.checkbox.correcto:before, .radio.correcto:before {
    border: 3px solid #2E7D32;
}
.checkbox.primario:before, .radio.primario:before {
    border: 3px solid #2196F3;
}
.checkbox.secundario:before, .radio.secundario:before {
    border: 3px solid #3F51B5;
}
input[type="checkbox"]:checked + .checkbox:before, input[type="radio"]:checked + .radio:before {
    display: none; 
}
input[type="checkbox"]:checked + .checkbox, input[type="radio"]:checked + .radio {
    padding: 5px 15px;
    background: #212112;
    border-radius: 2px;
    color: #fff; 
}
input[type="checkbox"]:checked + .checkbox, input[type="radio"]:checked + .radio {
    background: #212121;
    color: #fff;
    padding: 5px 15px;
    font-weight: bold;
}
input[type="checkbox"]:checked + .checkbox.error, input[type="radio"]:checked + .radio.error {
    background: #b71c1c;
}
input[type="checkbox"]:checked + .checkbox.advertencia, input[type="radio"]:checked + .radio.advertencia {
    background: #FF8F00;
}
input[type="checkbox"]:checked + .checkbox.correcto, input[type="radio"]:checked + .radio.correcto {
    background: #2E7D32;
}
input[type="checkbox"]:checked + .checkbox.primario, input[type="radio"]:checked + .radio.primario {
    background: #2196F3;
}
input[type="checkbox"]:checked + .checkbox.secundario, input[type="radio"]:checked + .radio.secundario {
    background: #3F51B5;
}
input[type="checkbox"]:disabled + .checkbox, input[type="radio"]:disabled + .radio {
    background: #c6c6c6;
    cursor: no-drop;
    color: #6f6f6f;
}
input[type="checkbox"]:disabled + .checkbox:before, input[type="radio"]:disabled + .radio:before {
    border: 3px solid #6f6f6f;
}
/*==========
tooltip
==========*/
.tooltip {
    display: inline;
    position: relative;
}
.tooltip-texto-arriba, .tooltip-texto-abajo{
    display: none;
    background: #212121;
    color: #FFF;
    text-align: center;
    padding: 6px;
    border-radius: 5px;
    max-width: 300px;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    z-index: 100;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.4);
}
.tooltip-texto-arriba {
    position: absolute;
    bottom: 40px;
    left: 0;
}
.tooltip-texto-abajo {
    position: absolute;
    top: 40px;
    left: 0;
}
.tooltip-texto-arriba::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -8px;
    width: 0; 
    height: 0;
    border-top: 8px solid #000000;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    
}
.tooltip-texto-abajo::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -8px;
    width: 0; 
    height: 0;
    border-bottom: 8px solid #000000;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;

}
.tooltip:hover .tooltip-texto-arriba, .tooltip:hover .tooltip-texto-abajo {
    display: block;
}
/*==========
modal
==========*/
.modal {
    position: fixed;
    background: rgba(0,0,0,0.7);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
}
/*==========
web
==========*/
.elemento.web-100, .web-100 {width: 100%;}
.elemento.web-95, .web-95 {width: 95%;}
.elemento.web-90, .web-90 {width: 90%;}
.elemento.web-85, .web-85 {width: 85%;}
.elemento.web-80, .web-80 {width: 80%;}
.elemento.web-75, .web-75 {width: 75%;}
.elemento.web-70, .web-70 {width: 70%;}
.elemento.web-65, .web-65 {width: 65%;}
.elemento.web-60, .web-60 {width: 60%;}
.elemento.web-55, .web-55 {width: 55%;}
.elemento.web-50, .web-50 {width: 50%;}
.elemento.web-45, .web-45 {width: 45%;}
.elemento.web-40, .web-40 {width: 40%;}
.elemento.web-35, .web-35 {width: 35%;}
.elemento.web-30, .web-30 {width: 30%;}
.elemento.web-25, .web-25 {width: 25%;}
.elemento.web-20, .web-20 {width: 20%;}
.elemento.web-15, .web-15 {width: 15%;}
.elemento.web-10, .web-10 {width: 10%;}
.elemento.web-5, .web-5 {width: 5%;}
/*==========
tab
==========*/
@media (max-width: 1024px) {
    .elemento.tab-100, .tab-100 {width: 100%;}
    .elemento.tab-95, .tab-95 {width: 95%;}
    .elemento.tab-90, .tab-90 {width: 90%;}
    .elemento.tab-85, .tab-85 {width: 85%;}
    .elemento.tab-80, .tab-80 {width: 80%;}
    .elemento.tab-75, .tab-75 {width: 75%;}
    .elemento.tab-70, .tab-70 {width: 70%;}
    .elemento.tab-65, .tab-65 {width: 65%;}
    .elemento.tab-60, .tab-60 {width: 60%;}
    .elemento.tab-55, .tab-55 {width: 55%;}
    .elemento.tab-50, .tab-50 {width: 50%;}
    .elemento.tab-45, .tab-45 {width: 45%;}
    .elemento.tab-40, .tab-40 {width: 40%;}
    .elemento.tab-35, .tab-35 {width: 35%;}
    .elemento.tab-30, .tab-30 {width: 30%;}
    .elemento.tab-25, .tab-25 {width: 25%;}
    .elemento.tab-20, .tab-20 {width: 20%;}
    .elemento.tab-15, .tab-15 {width: 15%;}
    .elemento.tab-10, .tab-10 {width: 10%;}
    .elemento.tab-5, .tab-5 {width: 5%;}
}
/*==========
cel
==========*/
@media (max-width: 480px) {
    .elemento.cel-100, .cel-100 {width: 100%;}
    .elemento.cel-95, .cel-95 {width: 95%;}
    .elemento.cel-90, .cel-90 {width: 90%;}
    .elemento.cel-85, .cel-85 {width: 85%;}
    .elemento.cel-80, .cel-80 {width: 80%;}
    .elemento.cel-75, .cel-75 {width: 75%;}
    .elemento.cel-70, .cel-70 {width: 70%;}
    .elemento.cel-65, .cel-65 {width: 65%;}
    .elemento.cel-60, .cel-60 {width: 60%;}
    .elemento.cel-55, .cel-55 {width: 55%;}
    .elemento.cel-50, .cel-50 {width: 50%;}
    .elemento.cel-45, .cel-45 {width: 45%;}
    .elemento.cel-40, .cel-40 {width: 40%;}
    .elemento.cel-35, .cel-35 {width: 35%;}
    .elemento.cel-30, .cel-30 {width: 30%;}
    .elemento.cel-25, .cel-25 {width: 25%;}
    .elemento.cel-20, .cel-20 {width: 20%;}
    .elemento.cel-15, .cel-15 {width: 15%;}
    .elemento.cel-10, .cel-10 {width: 10%;}
    .elemento.cel-5, .cel-5 {width: 5%;}
}
/*==========
Alineacion
==========*/
.texto-centro {text-align: center;}
.texto-derecha {text-align: right;}
.texto-izquierda {text-align: left;}
.texto-justificado {text-align: justify;}
.principal-izquierda {
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    -o-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
}
.principal-centro {
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
}
.principal-derecha {
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    -o-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
}
.around {
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    -o-justify-content: space-around;
    justify-content: space-around;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
}
.between {
    justify-content: space-between;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
}
.secundario-arriba {
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    -o-align-items: flex-start;
    align-items: flex-start;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
}
.secundario-centro {
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
}
.secundario-abajo {
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    -ms-align-items: flex-end;
    -o-align-items: flex-end;
    align-items: flex-end;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
}
.strech {
    -webkit-align-items: stretch;
    -moz-align-items: stretch;
    -ms-align-items: stretch;
    -o-align-items: stretch;
    align-items: stretch;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
}